
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    filter: blur(0.4px);
}

#header{
    background: url(./bg-hero-desktop.svg);
    height: 96vh;
    background-color: #eaf5ff;
}
.container{
   padding: 1%;
   display: flex;
   justify-content: space-between;
}

.content-header{
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding: 0% 5%;
}

.container button{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1em;
    border-radius: 30px;
    padding: 0.6% 2%;
    box-shadow: 1px 0px 46px -16px #000;
    border: none;
}

.container button:hover{
    cursor: pointer;
    background-color: #F6F5F6;
    transition: 0.4s;
}

.title{
    padding: 2% 1%;
    text-align: center;
    width: 50%;
}

.title h1{
    font-size: 3rem;
}

.title p{
    font-size: 1.2rem;
    color: #808d99;
    padding: 2% 15%;
}

.title button{
    background-color: #FF00A1;
    color: #fff;
    border-radius: 30px;
    padding: 1.3% 3%;
    font-size: 1.1rem;
    border: none;
}

.title button:hover{
    cursor: pointer;
    background-color: #950661;
    color: #fff;
    transition: 0.4s;
}

.image-title img{
    width: 80%;
    margin: auto;
    display: flex;
}

@media (max-width: 1327px){
    .content-header{
        flex-direction: column;
    }

    .content-header .title{
        width: 100vw;
    }
}

@media (max-width: 1320px){
    .image-title{
        width: 55%;
    }
}

.card{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    box-shadow: 1px 2px 9px 0px #DEDEDE;
    border-radius: 10px;
}

.card img{
    width: 30%;
    margin: 3%;
}

.content-card{
    width: 55%;
    margin: auto;
}

.content-card h1{
   color: #000;
   font-size: 1.2em;
}

.content-card p{
    margin-top: 4%;
    color: #808d99;
    font-weight: 400;
}

@media (max-width: 1039px){
    .content-card p{
        font-size: 0.9em;
        padding: 2%;
    }
}

@media (max-width: 800px){
   .card{
       width: 80%;
   }
}

@media (max-width: 589px){
    .card{
        flex-direction: column-reverse;
        align-items: center;
    }

    .card:nth-child(even){
        flex-direction: column;
      }
}