
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header{
    background: url(./bg-hero-desktop.svg);
    height: 96vh;
    background-color: #eaf5ff;
}
.container{
   padding: 1%;
   display: flex;
   justify-content: space-between;
}

.content-header{
    display: flex;
    align-items: center;
    margin-top: 5%;
    padding: 0% 5%;
}

.container button{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1em;
    border-radius: 30px;
    padding: 0.6% 2%;
    box-shadow: 1px 0px 46px -16px #000;
    border: none;
}

.container button:hover{
    cursor: pointer;
    background-color: #F6F5F6;
    transition: 0.4s;
}

.title{
    padding: 2% 1%;
    text-align: center;
    width: 50%;
}

.title h1{
    font-size: 3rem;
}

.title p{
    font-size: 1.2rem;
    color: #808d99;
    padding: 2% 15%;
}

.title button{
    background-color: #FF00A1;
    color: #fff;
    border-radius: 30px;
    padding: 1.3% 3%;
    font-size: 1.1rem;
    border: none;
}

.title button:hover{
    cursor: pointer;
    background-color: #950661;
    color: #fff;
    transition: 0.4s;
}

.image-title img{
    width: 80%;
    margin: auto;
    display: flex;
}

.card{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    box-shadow: 1px 2px 9px 0px #DEDEDE;
    border-radius: 10px;
}

.card img{
    width: 30%;
    margin: 3%;
}

.content-card{
    width: 55%;
    margin: auto;
}

.content-card h1{
   color: #000;
   font-size: 1.2em;
}

.content-card p{
    margin-top: 4%;
    color: #808d99;
    font-weight: 400;
}

.content-start-user{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 20%;
    position: absolute;
    margin-left: 35%;
    margin-top: 5%;
    box-shadow: -4px 0px 24px 0px rgba(0,0,0,0.19);
}

.content-start-user h1{
    margin: auto;
}

.content-start-user button{
    width: 40%;
    margin: auto;
    height: 25%;
    background-color: #ff00a1;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2rem;
}

.content-start-user button:hover{
    cursor: pointer;
    background-color: #950661;
    color: #fff;
    transition: 0.4s;
}

#footer{
    margin-top: 10%;
    background-color: #00252e;
    width: 100%;
}

#footer img{
    margin-top: 6%;
    margin-left: 5%;
}

.contacts{
    width: 90%;
    margin-top: 1%;
    margin-left: 10%;
    display: flex;
    padding-left: 2%;
    flex-direction: row;
}

.contact-content{
    display: flex;
    width: 100%;
    margin-top: 3%;
}

.contact-content p{
    color: #fff;
    padding-left: 3%;
}

@media (max-width: 1629px){
    .content-start-user h1{
        font-size: 1.5rem;
    }

    .content-start-user button{
        font-size: 1rem;
    }

}

@media (max-width: 1353px){
    .content-start-user h1{
        font-size: 1rem;
    }

    .content-start-user button{
        font-size: 0.8rem;
    }
}

@media (max-width: 1329px){
    .image-title{
        width: 50%;
    }
}

@media (max-width: 1201px){
    .title{
        padding: 0;
    }

    .content-header {
        margin-top: 15%;
    }
}

@media (max-width: 935px){
    .content-header{
        flex-direction: column-reverse;
    }

    .title{
        width: 100%;
    }

    .content-start-user{
        display: none;
    }

    .contacts {
        flex-direction: row;
        width: 90%;
    }

}

@media (max-width: 723px){
    .card{
        width: 90%;
    }
}

@media (max-width: 591px){
    .title h1{
        font-size: 2rem;
    }

    #header{
        height: 75vh;
    }
}

@media (max-width: 483px){
    .card{
        flex-direction: column-reverse;
        align-items: center;
    }

    .card:nth-child(even){
        flex-direction: column;
      }

    .content-card {
        width: 90%;
    }

    .content-card h1,p{
        text-align: center;
    }

    .contact-content p{
        font-size: 0.7rem;
    }

}